<div>
  <label for="pais">Seleccionar País:</label>
  <select id="pais" [(ngModel)]="selectPais" (ngModelChange)="obtenerPaises()">
    <option [ngValue]="null">Seleccione un país</option>
    @for (pais of paises; track pais.id) {
      <option [ngValue]="pais">{{ pais.nombre }}</option>
    }
  </select>
</div>

<!-- <p>1 {{selectPais}}</p> -->

@if (selectPais) {
  <div>
    <label for="ciudad">Seleccionar Ciudad:</label>
    <select id="ciudad" [(ngModel)]="selectCiudad">
      <option [ngValue]="null">Seleccione una ciudad</option>
      @for (ciudad of ciudades; track ciudad.id) {
        <option [ngValue]="ciudad">{{ ciudad.nombre }}</option>
      }
    </select>
  </div>
}


<br>
<br>

<button (click)="siguiente()" > Siguiente </button>


