<div>

  <div class="row justify-content-center mt-5">
    <div class="col-auto">
      <div class="text-center">
        <h1>¡Bienvenido!</h1>
        <p>¡Descubre tu próximo destino! 🌍✨ Consulta tu presupuesto y verifica el clima para planificar el viaje perfecto. 🌞❄️</p>
      </div>
    </div>
  </div>


  <div class="mb-4">
    <label class="mb-2 mt-5" for="pais">Seleccionar País</label>
    <select class="form-select" id="pais" [(ngModel)]="selectPais" (ngModelChange)="obtenerPaises()">
      <option [ngValue]="null"></option>
      @for (pais of paises; track pais.id) {
      <option [ngValue]="pais">{{ pais.nombre }}</option>
      }
    </select>
  </div>

  <!-- <p>1 {{selectPais}}</p> -->

  @if (selectPais) {
  <div>
    <label class="mb-2" for="ciudad">Seleccionar Ciudad</label>
    <select class="form-select" id="ciudad" [(ngModel)]="selectCiudad">
      <option [ngValue]="null"></option>
      @for (ciudad of ciudades; track ciudad.id) {
      <option [ngValue]="ciudad">{{ ciudad.nombre }}</option>
      }
    </select>
  </div>
  }

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-auto">
        <button (click)="siguiente()" class="btn btn-success"> Siguiente </button>
      </div>

    </div>

  </div>
