<div>


  <div class="row justify-content-center mt-5">
    <div class="col-auto">
      <div class="text-center">
        <h1>{{'¡Planifica tu Aventura!' | translate}}✈️</h1>
        <p>{{'Ingresa tu Presupuesto y Comienza a Soñar' | translate}}</p>
      </div>
    </div>
  </div>

  <label class="mb-2 mt-3">{{'Ingrese su presupuesto' | translate}}</label>

  <input class="form-control mb-5" type="number" [(ngModel)]="presupuesto" id="presupuesto" placeholder="">

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-auto">
        <button class="btn btn-secondary" [routerLink]="['/Inicio']">{{'Atras' | translate}}</button>
      </div>
      <div class="col-auto">
        <button class="btn btn-success" (click)="conversion()" (click)="guardar()">{{'Siguiente' | translate}}</button>
      </div>
    </div>
  </div>

</div>
