<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="mb-5">
        <h3>Resumen de búsqueda</h3>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul class="list-group">
        <!-- <li class="list-group-item"><strong>ID:</strong> {{historial?.id}}</li> -->
        <li class="list-group-item"><strong>Paíse:</strong> {{paises}}</li>
        <li class="list-group-item"><strong>Ciudade:</strong> {{ciudades}}</li>
        <li class="list-group-item"><strong>Presupuesto COP:</strong> {{historial?.presupuesto_cop}}</li>
        <li class="list-group-item"><strong>Clima:</strong> {{historial?.clima}} °C</li>
        <li class="list-group-item"><strong>Presupuesto Local:</strong> {{historial?.presupuesto_local}}</li>
        <li class="list-group-item"><strong>Tasa de Cambio:</strong> {{historial?.tasa_cambio}}</li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-auto">
      <button class="btn btn-info" [routerLink]="['/inicio']">Inicio</button>
    </div>
  </div>
</div>
